<p style="color: green"><%= notice %></p>

<h1>Testings</h1>

<div id="testings">
  <% @testings.each do |testing| %>
    <%= render testing %>
    <p>
      <%= link_to "Show this testing", testing %>
    </p>
  <% end %>
</div>

<%= link_to "New testing", new_testing_path %>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>